@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge legado */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge novo */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-anton: var(--font-anton);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.parceiro-card.active-glow {
  background-color: #a3e635 !important;
  border-color: #bef264 !important;
  transform: scale(1.08);
  box-shadow: 0 0 35px 8px rgba(163, 230, 53, 0.45);
}

.parceiro-card.active-glow2 {
  background-color: #a3e635 !important;
  border-color: #bef264 !important;
  transform: scale(1.08);
  box-shadow: 0 0 35px 8px rgba(163, 230, 53, 0.3);
}

.parceiro-card.active-glow .icon-glow,
.parceiro-card.active-glow .text-glow {
  color: #000000 !important;
}

.parceiro-card .icon-glow {
  color: #6b7280;
}

.parceiro-card .text-glow {
  color: #9ca3af;
}
